/* 全体で共通のCSSはこのファイルに記述する */
body {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-y: hidden;
}

#app{
  width: 100%;
  height: 100%;
  position: relative;
}

/*////////////////////////////////*/
/*////////////////////////////////*/
/*///////ここからトップページ/////////*/
/*////////////////////////////////*/
/*////////////////////////////////*/

.top{
  position: relative;
  width: 100%;
  height: 100%;
  color: #9b9b9b;
  background: #fff;
  z-index: 200;
  transition: all 0.5s;
  transition-delay: 0.5s;
}

.top h1{
  display: block;
  margin: 0 auto;
  padding-top: 104px;
  width: 258px;
  text-align: center;
  transition: all 1s;
  transition-delay: 1.25s;
  -webkit-animation: fadeIn 1s ease 0.25s backwards;
  animation: fadeIn 1s ease 0.25s backwards;
}

.top h1 img{
  width: 258px;
  height: auto;
}

.top p{
  display: block;
  margin: 0 auto;
  margin-top: 87px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  cursor: default;
  transition: all 1s;
  transition-delay: 1.5s;
  -webkit-animation: fadeIn 1s ease 0.5s backwards;
  animation: fadeIn 1s ease 0.5s backwards;
}

.startButton{
  position: absolute;
  bottom: -7vw;
  left: -10vw;
  width: 120vw;
  height: 120vw;
  border-radius: 50%;
  background: #9b9b9b;
  cursor: pointer;
  transition: all 1.5s;
  transition-delay: 2s;
  -webkit-animation:
    slideIn 1.5s ease 1s backwards,
    staticEffectRipple s ease infinite;
  animation:
    slideIn 1.5s ease 1s backwards,
    staticEffectRipple 2s ease infinite;
}

.startButtonLabel{
  display: block;
  padding-top: 5%;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  text-decoration: none;
}


/*////////////////////////////////*/
/*////////////////////////////////*/
/*///////ここからメインページ/////////*/
/*////////////////////////////////*/
/*////////////////////////////////*/

.main{
  position: absolute;
  top: -10vw;
  left: -10vw;
  width: 120vw;
  height: 120vw;
  border-radius: 50%;
  background: #9b9b9b;
  z-index: 100;
  transition: all 1s;
}

.YabaIcon{
  color: #000000;
  padding-top: 240px;
  width: auto;
  text-align: center;
  margin: 0;
}

.YabaIcon img{
  width: 150px;
  height: auto;
}

.form{
  display: block;
  margin: auto;
  margin-top: 140px;
  width: 970px;
  height: auto;
  color: #ffffff;
  text-align: center;
}

.form h2{
  font-size: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.YE_field{
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 5px 5px 5px 5px;
  width: 100%;
  height: 195px;
  transition: all 0.5s;
  color: #ffffff;
  background: transparent;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

.YE_field:focus{
  outline: none;
  color: #fff;
}

::-webkit-input-placeholder{
  color: #e4e4e4;
}
::-moz-placeholder{
  color: #e4e4e4;
}
:-moz-placeholder{
  color: #e4e4e4;
}
:-ms-input-placeholder{
  color: #e4e4e4;
}

.buttonArea{
  display: block;
  width: 58%;
  margin: 0 auto;
  margin-top: 40px;
}

.genderDiv{
  display: inline-block;
  width:73%;
  height: auto;
  text-align: left;
}

.genderButtons{
  width: 100%;
}

input[type=radio]{
  display: none;
}

.genderButton{
  width: 147px;
  height: 53px;
  margin-right: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 5px 5px 5px 5px;
  transition-duration: 0.5s;
  transition-property: background,transform;
}

.genderButton:hover{
  background: #ffffff;
  color: #9b9b9b;
  border: 1px solid #9b9b9b;
  transform: scale(1.1);
}

input[type=radio]:checked + .genderButton{
  transform: scale(1.0);
  border: 1px solid #ffffff;
  background: #ffffff;
  color: #9b9b9b;
}

.ageDiv{
  display: inline-block;
  width: 26%;
  height: 100%;
  text-align: left;
}

.age_field{
  display:inline-block;
  border: none;
  border-radius: 5px 5px 5px 5px;
  width: 149px;
  height: 55px;
  transition: all 0.5s;
  background: #ffffff;
  color: #9b9b9b;
}

.age_field select {
  outline:none;
  text-indent: 62px;
  background: none transparent;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 600;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width:100%;
  height: 100%;
}

.age_field select option{
  background-color: #fff;
  color: #aaaaaa;
}

/* IEの下三角非表示 */
.age_field select::-ms-expand {
    display: none;
}
/* Firefoxの点線非表示 */
.age_field select::-moz-focus-inner {
    border: 0;
}

.submitButton{
  position: relative;
  display: inline-block;
  margin-top: 80px;
  width: 356px;
  height: 356px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: #d8d8d8;
  color: #ffffff;
  transition: all 0.5s;
  overflow: hidden;
}

.submitButton:hover{
  color: #9b9b9b;
  transform: scale(1.05);
  -webkit-animation: hoverEffectRipple 1.5s ease;
  animation: hoverEffectRipple 1.5s ease;
  animation-iteration-count: infinite;
}

.submitButtonLabel{
  display: block;
  position: relative;
  top: -110px;
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  text-decoration: none;
}



/*////////////////////////////////*/
/*////////////////////////////////*/
/*////////アニメーション関係/////////*/
/*////////////////////////////////*/
/*////////////////////////////////*/

.closeTop{
  opacity: 0;
  z-index: 0;
}

.closeTop h1{
  opacity: 0;
}

.closeTop p{
  opacity: 0;
}

.closeTop nav{
  bottom: -23vw;
}

.closeMain{
  animation: closeMainEffect 1.5s ease;
  top: 220vw;
  transform: scale(0.2);
  z-index: 0;
}

.submitButtonDisappear{
  opacity: 0;
  z-index: 0;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple .rp-effect {/*エフェクト*/
  position: absolute;
  border-radius: 50%;
  opacity: 0.35;/*波紋の濃さ*/
  transform: scale(0);
  background: #fff;/*波紋色*/
  animation: clickRipple 2.5s;
  pointer-events: none;
}

@-webkit-keyframes clickRipple {
  to {
    opacity: 0;
    transform: scale(2.0);
  }
}

@keyframes clickRipple {
  to {
    opacity: 0;
    transform: scale(2.0);
  }
}

@-webkit-keyframes hoverEffectRipple {
  0%{
    box-shadow: 0 0 0 0 rgba(255,255,255,1);
  }
  100%{
    box-shadow: 0 0 0 50px rgba(255,255,255,0);
  }
}

@keyframes hoverEffectRipple {
  0%{
    box-shadow: 0 0 0 0 rgba(255,255,255,1);
  }
  100%{
    box-shadow: 0 0 0 50px rgba(255,255,255,0);
  }
}

@-webkit-keyframes staticEffectRipple {
  0%{
    box-shadow: 0 0 0 0 rgba(229,229,229,1);
  }
  100%{
    box-shadow: 0 0 0 70px rgba(229,229,229,0);
  }
}

@keyframes staticEffectRipple {
  0%{
    box-shadow: 0 0 0 0 rgba(229,229,229,1);
  }
  100%{
    box-shadow: 0 0 0 70px rgba(229,229,229,0);
  }
}

@-webkit-keyframes closeMainEffect {
  0%{
    top: -10vw;
  }
  45%{
    opacity: 90;
  }
  90%{
    top: -220vw;
    opacity: 0;
  }
  100%{
    top:-10vw;
    opacity: 0;
  }
}

@keyframes closeMainEffect {
  0%{
    top: -10vw;
  }
  45%{
    opacity: 90;
  }
  90%{
    top: -220vw;
    opacity: 0;
  }
  100%{
    top:-10vw;
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn{
  0%{
    display:none;
    opacity: 0;
  }
  1%{
    display: block;
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}

@keyframes fadeIn{
  0%{
    display:none;
    opacity: 0;
  }
  1%{
    display: block;
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}

@-webkit-keyframes slideIn {
  0%{
    bottom:-23vw;
  }
  100%{
    bottom: -7vw;
  }
}

@keyframes slideIn {
  0%{
    bottom:-23vw;
  }
  100%{
    bottom: -7vw;
  }
}
