/* 全体で共通のCSSはこのファイルに記述する */
body {
  background-color: #9b9b9b;
}

#app{
  height: 100%;
  display: flex;
  align-items: center;
}

.main{
  margin: 0 auto;
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  background-color: #fff;
}

.form{
  width: 80%;
}

.form h2{
  font-size: 15px;
  margin-bottom: 10px;
}

.YE_field{
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: 100%;
  transition: all 0.5s;
}

.YE_field:focus{
  outline: none;
  background: #Dadada;
  border: solid 1px #d0d0d0;
  box-shadow: 2px 2px 2px 2px #9b9b9b;
}

.gender{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

input[type=radio]{
  display: none;
}

.genderButton{
  width: 140px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9b9b9b;
  transition-duration: 0.5s;
  transition-property: background,transform;
}

.genderButton:hover{
  background: #9b9b9b;
  border: none;
  transform: scale(1.1);
}

input[type=radio]:checked + .genderButton{
  transform: scale(1.0);
  background: #9b9b9b;
}

.age_field{
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: 100%;
  transition: all 0.5s;
  margin-bottom: 30px;
}

.age_field:focus{
  outline: none;
  background: #Dadada;
  border: solid 1px #d0d0d0;
  box-shadow: 2px 2px 2px 2px #9b9b9b;
}

.YabaIcon{
  color: #000000;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.ui.errorbox {
  background-color: #FBEFF5;
}

.ui.my-posts-action{
  margin-top: 10px;
  border-top: 1px solid gray;
  padding-top: 5px;
}
