/* 全体で共通のCSSはこのファイルに記述する */
body {
  background-color: #000000;
}

.main.container{
  margin-top: 30px;
}

.ui{
  margin: 10px;
  display: block;
}

.YE{
  width: calc(100% - 1rem - 10px);
}

.ui.errorbox {
  background-color: #FBEFF5;
}

.ui.my-posts-action{
  margin-top: 10px;
  border-top: 1px solid gray;
  padding-top: 5px;
}
